* {
    list-style: none;
    text-decoration: none;
    font-family: 'Fira Sans Condensed', sans-serif;
}

body{
    background: #000000;
    background-image: url(ressource/1e89fdb62cf7812a3b1e57ead4143e4d.gif);
    background-repeat: no-repeat;
    background-position: center;
    padding-top: 150px;
    text-align: center;
    position: relative;
    min-height: 700px; 
}


.titre h1{
     color: #64B4CD;
     justify-content: center;
     font-size: 45px;
     display: flex;  
     text-decoration: underline; 
}
 
.titre p {
    position: absolute;
     top: 15%;
     color: white;
     justify-content: center;
     font-size: 25px;
     display: flex; 
     margin: 30px 70px;
}

.container {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -70%);
    padding: 10px;
    width: 800px;
    backdrop-filter: blur(5.5px);
    -webkit-backdrop-filter: blur(5.5px);
    background: rgba(255, 255, 255, 0,75);
    border: 1px solid rgba(255, 255, 255, 0,01);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(35, 35, 35, 0,1);
    color: #232323;
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    background: rgba(117, 153, 199, 0.51);
    border: 1px solid rgba(255, 255, 2555, 0.34);
    flex-basis: 400px;
    height: 300px;
    padding: 20px 35px;
}