body{
   background: #000000;
   background-image: url(ressource/1e89fdb62cf7812a3b1e57ead4143e4d.gif);
    background-repeat: no-repeat;
    background-position: center;
    padding-top: 150px;
    text-align: center;
    position: relative;
    min-height: 700px; 
    
}

.FAQ h1{
    color: white;
    justify-content: center;
    font-size: 45px;
    display: flex; 
    text-decoration: underline;  
    position: relative;
    display: flex;
}

/* réponses */
.FAQ p {
    color: #FBFFFD;
    text-align: justify;
    font-size: 30px;
    display: flex; 
    font-weight: 600;
    margin: 30px 500;
    max-width: 1000px;
    /* justify-content: center; */
    padding: 0 250px;
    
    
    
}

/* questions */
.FAQ h4{
    color: #64B4CD;
    text-align: justify;
    font-style: italic;
    font-size: 40px;
    display: flex; 
    margin: 30px 500;
    max-width: 1000px;
    padding: 0 250px;
    
    
    
}