body{
    background: #000000;
    background-image: url(ressource/1e89fdb62cf7812a3b1e57ead4143e4d.gif);
     background-repeat: no-repeat;
     background-position: center;
     padding-top: 150px;
     text-align: center;
     position: relative;
     min-height: 700px; 
     
 }
 .titre h1{
     color: white;
     justify-content: center;
     font-size: 45px;
     display: flex;
     text-decoration: underline;   
 }
 
 .titre p {
     color: white;
     justify-content: center;
     font-size: 30px;
     display: flex; 
     font-weight: 600;
     margin: 30px 70px;
 }