* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: 'Fira Sans Condensed', sans-serif;
}

body {
    background: #000000;

  }
/* barre du header ----------- */
.header {
    opacity: 0.95;
    display: flex;
    background: #000000;
    justify-content: space-between;
    padding: 5px 10px;
    line-height: 25px;
    position: relative;
}
.header #logo{
    position: relative;
    top: 8px;
    color: white;
    text-decoration: none;
    font-weight: 900;
    letter-spacing: 2px ;
    font-size: 30px;
    padding-left: 40px;
    line-height: 25px;
    transition: 0.5s;
}
#logo:hover {
    text-shadow: 2px 2Px 3px #03b5ff;
}
.header ol {
    display: flex;
}
.header ol li {
    color: white;
    list-style: none;
    text-transform: uppercase;
    display: block;

}
.header ol li a {
    color: white;
    text-decoration: none;
    display: block;
    padding: 10px 55px;
    font-weight: 600;
    text-align: center;
    letter-spacing: 1px;
    transition: 0.3s;
}
.header ol li a:hover {
    background:#fff ;
    color:black ;
}
.header ol li ul li a {
    padding:5px 10px ;
    text-align: center;
    font-weight: 600;
    color: rgba(255, 255, 255,0.6);
}
.header ol li ul li {
    display: none;

}
.header ol li:hover ul li {
    display:block ;
}
/* fin de la barre du header---------- */

/* responsive for mobile  */
@media screen  and (max-width:600px){
    .header{
        display:flex ;
        flex-direction: column;
    }
    .header #logo {
        text-align: center;
    }
    .header ol {
        display: flex;
        flex-direction: column;
        margin: 20px;
        width: 100%;
    }
    .header ol li:hover {
        display: block;
    }   
}
/* fin du responsive de la bar du header */




#age {
    color: white;
}
#nationality {
    color: white;
}


#section-1  {
    height:10vh;
    background-image: url(ressource/1e89fdb62cf7812a3b1e57ead4143e4d.gif);
    background-repeat: no-repeat;
    background-position: center;
    padding-top: 150px;
    text-align: center;
    position: relative;
    min-height: 700px;        
}
#section-2 img{
    background-position: center;  
    align-items: center;   
    width: 100%; 
    background-size: cover;
} 
#section-2 input {
    display: flex;
    justify-content: center;
    position: relative;
    bottom:  -55vh;
    margin: 0 auto;  
}
#age {
    display: flex;
    justify-content: center;
    position: relative;
    bottom:  55vh;
    margin: 0 auto; 

}
#nationality {
    display: flex;
    justify-content: center;
    position: relative;
    bottom:  53vh;
    margin: 0 auto;   
}
#button {
    display: flex;
    justify-content: center;
    position: relative;
    bottom:  50vh;
    margin: 0 auto;   
}

.titre h1 {
    align-items: center;
    
    color:#a8e0f1 ;
    font-weight: 100em;
    justify-content: center;
    display: flex;
    height: 4em;
    font-size: 45px;
    
    
}
.titre h3 {
    font-weight: 800;
    color: #fbfffd;
    /* letter-spacing: 10px; */
    justify-content: center;
    height: 5em;
    display: flex;
    font-size: 25px;
    text-align: center;
}
.titre h1:hover {
    text-shadow: 5px 2Px 4px white;
}


/* responsive boule de crystal +    API */


@media screen  and (max-width:600px){
    #section-2 img{
        display:flex ;
        align-items: center;   
        background-position: center;
        justify-content: center;
        height: 400PX;
    }
    .titre h1 {
        text-align: center;
    }
    
    .titre h3 {
        text-align: center;
    }
    #age {
        display: flex;
        justify-content: center;
        position: relative;
        bottom:  32vh;
        margin: 0 auto;
        padding-left: 50px;
    }
    #nationality {
        display: flex;
        justify-content: center;
        position: relative;
        bottom:  30vh;
        margin: 0 auto; 
        padding-left: 50px;     
    }
    #button {
        display: flex;
        justify-content: center;
        position: relative;
        bottom:  20vh;
        margin: 0 auto;
        left: 20px;
    }
    #section-2 input {
        display: flex;
        justify-content: center;
        position: relative;
        bottom:  -25vh;
        margin: 0 auto; 
        left: 25px; 
        width: 100px;
    }
}

/* Fin du responsive ----- */









  